
@{
    ViewBag.Title = "RSVP";
}

<h2>Rsvp</h2>
<div class="container">
    <form action="/Database/SaveGuest" method="post">
        <input type="hidden" name="GuestID" />
        <div class="form-group">
            <input type="text" class="form-control" name="FirstName" placeholder="First Name"  required />
            <input type="text" class="form-control" name="LastName" placeholder="Last Name" required />
        </div>
        <input type="date" class="form-control" name="AttendanceDate" max="2018-12-22"min="2018-12-15" placeholder="AttendanceDate" required />
        <input type="email" class="form-control" name="EmailAddress" pattern="([\w\.\-_]+)?\w+@('@')[\w-_]+(\.\w+){1,}" placeholder="EmailAddress" required />
        <div>Are you bringing a guest? Please enter their name below.</div>
        <input type="text" class="form-control" name="Guest1" pattern="[A-z]{1-50}" title="Must be between 2 and 50 characters" Value="None"  />

       


        <input type="submit" class="btn-group-lg" />
    </form>
</div>


