body {
    background-image: url(https://img.freepik.com/free-vector/winter-silver-background-with-snowflakes_1048-85.jpg?size=338&ext=jpg);
    background-size: 100% !important;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    letter-spacing: -0.2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    border: 4px double rgba(164,3,3,0.74);
}
.Para{
    color: red;

}


h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    letter-spacing: -0.2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    border: 4px double rgba(164,3,3,0.74) !important;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    letter-spacing: -0.2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    letter-spacing: -0.2px;
    word-spacing: 2px;
    color: #ed6161 !important;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
}

p {
    position: absolute;
    bottom: 30px;
    width: 100%;
    color: #ed6161 !important;
}

hr {
    opacity: 0;
}

lable {
    border: 4px inset rgba(69,164,74,0.74);
}
